# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
Packages/com.unity.package-manager-ui
MemoryCaptures/

# Visual Studio
.vs/
*.user
*.suo
*.csproj
*.unityproj
*.pidb
*.sln
*.userprefs

# OS
.DS_Store
Thumbs.db
